<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/m4_chingaza/source/uniandes/cupi2/chingaza/interfaz/InterfazParqueChingaza.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uniandes.cupi2.chingaza.interfaz.InterfazParqueChingaza"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="m4_chingaza"/>
</launchConfiguration>
